<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Habita">

        <activity
            android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.ProviderHomeActivity" />
        <activity android:name=".activities.UploadListingActivity" />
        <activity android:name=".activities.HomeActivity" />
        <activity android:name=".activities.DetailsActivity" />
        <activity android:name=".activities.PaymentActivity" />
        <activity android:name=".activities.SuccessActivity" />
        <activity android:name=".activities.SavedActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.ChatActivity" />
        <activity android:name=".activities.ChatDetailActivity" />
        <activity android:name=".activities.PreferencesActivity" />
        <activity android:name=".activities.FilterActivity" />

    </application>

</manifest>